.footerDown {
  height: 3.5rem;

  border: 2px solid gray;
  width: 100%;
  background-image: linear-gradient(#ffffff, #ffffff, #d9d9d9, #c0c0c0);
}
.footerDown button {
  margin-top: 0.8rem;
}
.insideFoooterDown {
  padding-left: 65%;
}
.footer {
  display: flex;
  background-color: rgb(58, 83, 136);
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.about,
.Training,
.Resources,
.Global-Reach,
.share {
  width: 25%;
}
.share {
  border-left: "1px solid white";
}
